body {
  padding: 0;
  margin: 0;
  color: aliceblue;
  background-color: #222;
}

.title-text {
  font-family: "Rubik Moonrocks", cursive;
  text-align: center;
  color: aliceblue;
  font-size: 1.5rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

.body-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "Roboto", "sans-serif";
}

.body-container,
h1,
h2,
h3,
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.subtitle-text {
  font-weight: 900;
}

.white-render-box {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: #222;
  width: 100%;
  box-sizing: border-box;

}

.white-render-box,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
  padding: 5px;
}

.div-box1 {
  background-color: pink;
  margin: 10px;
}

.div-box2 {
  background-color: greenyellow;
  margin: 10px;
}

.div-box3 {
  background-color: skyblue;
  margin: 10px;
}

section {
    margin-bottom: 1rem;
}
